@charset "utf-8";

label{
	color: Gray;
	padding:0.5em 0;
	display: inline-block;
}
.sublabel{
	font-size: 0.8em;
	color: Gray;
	opacity: 0.5;
}
form {
  padding: 15px;
  margin: 20px 0;
}
.oneline{
	display: flex;
	flex-wrap: nowrap;
	justify-content:  space-between;
	width: 100%;
	align-items: center;
}
input[type='text'], [type='email'], input[type='number'], select, textarea {
	background: linear-gradient( to right, AntiqueWhite , AliceBlue );
	border: none;
	border-radius: 0.5em;
	color: MediumPurple ;
	letter-spacing: 1px;
	padding: 0.550em;
	margin: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
input[type='number']{
	display: inline-block;
	background: linear-gradient( to right, AntiqueWhite , AliceBlue );
	width: 30%;
}
input[readonly]{
	background: none;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	font-size: 1.2em;
}
legend {
    display: inline-block;
    position: static;
    font-size: 0.9em;
    color: rgb(210,200,210);
    font-weight: bold;
    line-height: normal;
    text-indent: 0em;
    overflow: hidden;
 }
 fieldset{
    padding: 5px;
    border-top: 1px solid rgb(210,200,210);
  	//filter: drop-shadow(0 0 5px rgba(123, 222,123,1));
 }
.form_button_wrapper{
	display: flex;
	flex-flow: space-between;
}
.form_button {
  letter-spacing: 1.2px;
  border-radius: 1em;
  border: solid 0px MediumPurple ;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 20px 35px;
  margin: 2px 2px;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form_button:hover {
  background: MediumPurple ;
  color: #F2F3EB;
}
.form_button.submit{
  background: Plum;
  color: Aliceblue ;
  flex-grow: 2;
}
.form_button.save{
  background: none;
  border: 1px solid Plum;
  color: Plum ;
  flex-grow: 1;
}
.img-preview {
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  border: 1px dashed LightGray;
}
.img-preview input {
  opacity: 0;
}
.img-preview label {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.board_toggle_button{
	width: 100%;
	background: none;
	border-radius: 0.5em;
	padding: 0.550em;
	color: Gray ;
	letter-spacing: 1px;
	border: 1px solid LightGray;
}
.board_toggle_panel{

}
.board_toggle_wrapper{
	background: white;
	border: none;
	border-radius: 0.5em;
	padding: 0.550em;
	margin: 2px 0 0 2px;
	width: 100%;
}