html {overflow-y:scroll}
body {margin:0;padding:0;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

header{
	background-color: Aliceblue;
	color: Darkgray;
}
header #logo{
	font-size: 2em;
	text-align: center;
}
footer{
	background-color: Aliceblue;
	color: gray;
	align-content: center;
}

.roplo_page, .roplo_profile{
	margin: 10px 0px;
	padding: 5px 10px;
	border: 1px solid gray;
}