html {overflow-y:scroll}
body {margin:0;padding:0;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

header{
	background-color: Aliceblue;
	color: Darkgray;
}
header #logo{
	font-size: 2em;
	text-align: center;
}
footer{
	background-color: Aliceblue;
	color: gray;
	align-content: center;
}

.roplo_page, .roplo_profile{
	margin: 10px 0px;
	padding: 5px 10px;
	border: 1px solid gray;
}

.roplo_timeline{
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.roplo_timeline li, .roplo_timeline_li{
    display: inline-block;
    vertical-align: top;
	overflow: hidden;
}
.roplo_timeline li.default .roplo_timeline_li{
	padding: 6px;
	margin: 0px;
	width: 14.28%;
    border: 1px dotted Darkgray;
	box-sizing: border-box;
}
.roplo_timeline li.default a{
	color: LightGray;
	text-decoration: none;
}
.roplo_timeline li.default a .time{
	font-size: 1.2em;
	text-align: center;
	line-height: 0.6em;
}
.roplo_timeline li.default a .title{
	font-size: 0.7em;
	margin: 0.5em auto;
	line-height: 0.6em;
}
.roplo_timeline li.default a .text{
	font-size: 0.7em;
	line-height: 0.6em;
}